.error{
    border: 2px solid red;
    background-color: #ffe6e6;
}

#historial {
    max-height: 120px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 0%;
}

#historial li{
  list-style: none;
  background: #f2f2f2;
  margin: 4px 0;
  padding: 6px;
  border-radius: 5px;
  font-size: 14px;
}

#historial li:last-child{
    background: #d0ebff;
    font-weight: bold;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #052641, #6bc2f5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #316599;
    color: white;
    transition: 0.2s;
}

button:hover{
    background-color: #6a727a;
}

button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
#mensaje {
    margin-top: 10px;
    font-weight: bold;
}

.barra-container{
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

#barraProgreso {
  height: 100%;
  width: 0%;
  background: #1f8f28;
  transition: width 0.3s ease;
}